<div class="header">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile>
            <img class="logo" src="../assets/logo.png">
        </mat-grid-tile>
        <mat-grid-tile>

        </mat-grid-tile>
        <mat-grid-tile>
            Welcome to AppointMed!
        </mat-grid-tile>
        <mat-grid-tile>
            <!--<button mat-flat-button id="signInButton" (click)="signInForm()" color="basic">Sign in</button> -->
            <div app-signin> </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>