<div class="container">
    <div class="InstructionsWrapper">
        <mat-grid-list cols="3" rowHeight="100%">
        
            <mat-grid-tile class="step1container">
                <div class="step1">
                    <div class="FindDoc">
                        <img id="FindDoc" src="./assets/findDoc.png">
                    </div>
                    <h1 style="font-size: 50px; padding-bottom: 5%;"> Step 1</h1>
                    <p style="font-size: 23px; line-height: 1.1;"> Select desired specialty and region </p>
                </div>
                
            </mat-grid-tile>
            <mat-grid-tile class="step2container">
                <div class="step2">
                    <div class="appointmentDate">
                        <img id="appointment" src="./assets/appointment.png">
                    </div>
                    <h1 style="font-size: 50px; padding-bottom: 5%;"> Step 2</h1>
                    <p style="font-size: 23px; line-height: 1.1;"> Check availability and book an appointment </p>
            </div>
                
            </mat-grid-tile>
            <mat-grid-tile class="step3container">
                <div class="step3">
                    <div class="SignIn">
                        <img id="SignIn" src="./assets/registered.png">
                    </div>
                    <h1 style="font-size: 50px; padding-bottom: 5%;"> Step 3</h1>
                    <p style="font-size: 23px; line-height: 1.1;"> Sign in </p>
                </div>
                
            </mat-grid-tile>
            <!--
            <mat-grid-tile class="step4container">
                <div class="step4">
                    <h1> Step 4</h1>
                    gewga
                </div>
                
            </mat-grid-tile>
        -->

        </mat-grid-list>

    </div>
</div>